.card {
  position: relative;
  aspect-ratio: 1 / 1;
  transition: 0.3s ease;
  width: 224px;
  height: 224px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
}

.image {
  object-fit: cover;
  display: block;
}

.likeSlot {
  position: absolute;
  top: 8px;
  right: 8px;
}
